h2 {
    color: red;
}

#progress {
    width: 100%;
    background-color: rgba(215, 215, 215, 1);
}

#bar {
    width: 0%;
    height: 25px;
    background-color: rgba(0, 255, 0, 1);
}

.btnSubmit {
    margin-top: 20px;
    border: none;
    text-align: center;
    background-color: green;
    color: white;
    padding: 15px 0;
    
}