.dropDown {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.btnDropDown {
    cursor: pointer;
}

.contentDropDown {
    position: absolute;
    display: none;
}

.contentDropDown a {
    display: block;
}

.dropDown:hover .contentDropDown {
    display: block;
}