.dropDown {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.btnDropDown {
    cursor: pointer;
}

.contentDropDown {
    display: none;
    position: absolute;
}

.contentDropDown a {
    display: block;
}

.show {
    display: block;
}