/* h2 {
    color: red;
} */
* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif
}

body {
    width: 80%;
    margin: 10% 10%;
}

.tooltipContainer {
    width: 100%;
    display: inline-block;
    text-align: center;
}

.tooltip {
    width: 25%;
    float: left;
    margin-top: 10%;
    
    position: relative;
    
    
}

p {
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 128, 0, 1);
}

span {
    font-size: 1.15em;
    margin-bottom: 1em;
}

.tooltip .tooltipText {
    visibility: hidden;
    width: 50%;
    background-color: rgba(85, 85, 85, .5);
    color: white;
    font-weight: lighter;
    letter-spacing: .15em;
    text-align: center;
    padding: .35em .15em;
    border-radius: .5em;
    
    opacity: 0;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s; 
    transition: opacity 1s;
    
    cursor: pointer;
    
    position: absolute;

}

.tooltip .tooltipText::after {
    position: absolute;
    
    content: "";

    border-width: 5px;
    border-style: solid;
}

p {
    width: 50%;
    margin: 0 auto;
}

.top {
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -25%;
}

.top::after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-color: rgba(85, 85, 85, .5) transparent transparent transparent; 
}

.bottom {
    z-index: 1;
    top: 175%;
    left: 50%;
    margin-left: -25%;
}

.bottom::after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-color:  transparent transparent rgba(85, 85, 85, .5) transparent;
}

.left {
    z-index: 1;
    top: -35%;
    /* left: 100%; */
    right: 105%;
    margin-right: -35%;
}

.left::after {
    left: 100%;
    top: 50%;
    margin-top: -5px;
    border-color:  transparent transparent transparent  rgba(85, 85, 85, .5);
}

.right {
    z-index: 1;
    top: -35%;
    left: 105%;
    margin-left: -35%;
}

.right::after {
    right: 100%;
    top: 50%;
    margin-top: -5px;
    border-color:  transparent rgba(85, 85, 85, .5) transparent transparent  ;
}

.tooltip:hover .tooltipText {
    visibility: visible;
    opacity: 1;
}
